[submodule "wikipn.wiki"]
	path = wikipn.wiki
	url = https://github.com/wolnepszczoly/wikipn.wiki
[submodule "wolnepszczoly.github.io"]
	path = wolnepszczoly.github.io
	url = https://github.com/wolnepszczoly/wolnepszczoly.github.io
